@media screen and (max-width: 1200px){
    .button_saiba_mais{
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 923px){
    div.footer{
        display: block;
        width: 100%;
    }
    footer menu{
        display: none;
    }
    footer div.direitos_autorais{
        width: 100%
    }
    footer div.direitos_autorais h2{
        text-align: center;
    }
}
@media screen and (max-width: 768px){
    .form form{
        width: 100%;
    }
}
