@media screen and (max-width: 1200px){
    .button_saiba_mais{
        display: block;
        width: 100%;
    }
}
@media screen and (max-width: 923px){
    div.footer{
        display: block;
        width: 100%;
    }
    footer menu{
        display: none;
    }
    footer div.direitos_autorais{
        width: 100%
    }
    footer div.direitos_autorais h2{
        text-align: center;
    }
}
@media screen and (max-width: 820px){
    .sessao2_veiculos_destaque .galeria_carros{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .sessao2_veiculos_destaque .galeria_carros .container_informacoes_carro .foto_carro{
        min-height: 400px;
        height: 100%;
    }
    .sessao2_veiculos_destaque .galeria_carros .container_informacoes_carro .informacoes_carro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 726px){
    .sessao1_banner .container_opcoes_empresa{
        position: absolute;
        top: 0;
    }
    .form form{
        width: 100%;
    }

}
@media  screen and (max-width: 578px){
    .sessao3_depoimentos_servicos .container_depoimentos_servicos{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sessao3_depoimentos_servicos .container_depoimentos_servicos .depoimentos .setas .seta_direita, .seta_esquerda {
        display: none;
    }
    .sessao3_depoimentos_servicos .container_depoimentos_servicos .depoimentos .setas .nome_pessoa_depoimento{
        display: block;
        margin: 0 auto;
    }
}
@media screen and (max-width: 368px){
    .sessao1_banner .container_opcoes_empresa{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0 2%;
    }
    .sessao1_banner .container_opcoes_empresa .consultoria{
        width: 255px;
        margin: 3% 3%;
    }
    .sessao1_banner .container_opcoes_empresa .compra{
        margin: 3% 1%;
    }
    .sessao1_banner .container_opcoes_empresa .venda{
        margin: 3% 1%;
    }
    .sessao1_banner .container_opcoes_empresa .email{
        width: 300px;
        margin: 3% 0;
        padding: 3% 3%;
    }
    
}
